{% extends "base.html" %}
{% block content %}
<div class="list">
<div class="motto">
<span class="motto"><b>Post</b> a game!</span>
</div>
<div id="addgame">
  <form method="POST" action="/addgame/">{% csrf_token %}
    <select id="game_type" name="game_type" class="post_select">
      <option value="singles">Singles</option>
      <option value="doubles">Doubles</option>
    </select><br/><br/><br/>
    <select id="name_a_1" name="name_a_1" class="team_a post_select">
      <option value="%">Select a Player</option>
      {% for player in player_list %}
      <option value="{{player.slug}}">{{player.name}}</option>
      {% endfor %}
    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select id="name_b_1" name="name_b_1" class="team_b post_select">
      <option value="%">Select a Player</option>
      {% for player in player_list %}
      <option value="{{player.slug}}">{{player.name}}</option>
      {% endfor %}
    </select>
    <div class="second_player hide_second_player">
    <br/><br/><br/>
    </div>
    <select id="name_a_2" name="name_a_2" class="team_a post_select second_player hide_second_player">
      <option value="%">Select a Player</option>
      {% for player in player_list %}
      <option value="{{player.slug}}">{{player.name}}</option>
      {% endfor %}
    </select>
    <span class="second_player hide_second_player">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <select id="name_b_2" name="name_b_2" class="team_b post_select second_player hide_second_player">
      <option value="%">Select a Player</option>
      {% for player in player_list %}
      <option value="{{player.slug}}">{{player.name}}</option>
      {% endfor %}
    </select>
    <br/><br/><br/>
    <label for="team_a_points">Score:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select id="team_a_points" name="team_a_points" class="post_score">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="team_b_points">Score:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select id="team_b_points" name="team_b_points" class="post_score">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select><br/><br/><br/>
   <!-- <input type="submit" value="POST"/> -->
   <button type="submit" id="post_button">
     <img src="/media/PostButton-06.png"/>
   </button>
  </form>
  <a href="/games/singles/"><small>Not in our system yet? Sign up!</small></a>
</div>
</div>
<script src="../media/addgames.js"></script>
{% endblock %}
