{% extends "base.html" %}
{% block content %}
<div class="list">
  <h2> Players </h2>
  <form method="POST" action="/createplayer/">{% csrf_token %}
    <label for="name">Add a player</label>
    <input type="text" name="name" id="name"/>
    <input type="submit" value="Add Player"/>
  </form>
  <ul id="players">
    {% for player in player_list %}
    <li><a href="{{ player.get_absolute_url }}">{{ player.name }}</a>
        <small> Rating: {{ player.rating }}</small></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
