<html> <head>
<title>{% block title %}MyEDU Foosball Tracker{% endblock %}</title>
<link rel="stylesheet" href="/media/style.css"/>
<script type="text/javascript" src="/media/jquery-1.6.4.js"></script>
</head>
<body>
<div class="nav">
<div class="nav-body">
<a href="/">
<img src="/media/logo_foozball-10.png"/></a>
<div class="nav-links">
<a href="/games/">Post A Game</a>&nbsp;&nbsp;&nbsp;
<a href="/games/singles/">Singles</a>&nbsp;&nbsp;&nbsp;
<a href="/games/doubles/">Doubles</a>&nbsp;&nbsp;&nbsp;
</div>
</div>
</div>

<div class="container">
<div class="super_list">
{% block content %}{% endblock %}
</div>
</div>
</body>
</html>
